body {
    display: flex;
    flex-direction: column; /*para que no me queden los elementos pegados uno al lado del otro*/
    height: 100%;
    justify-content: center;
    align-items: center;
    /*height: 100vh;*/
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 110%;
    background-color: #222;
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
}

html {
    height: 100%;
}

.card {
    background-color: rgb(14 14 14 / 78%);
    color: white;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 5em;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 46px;
    width: 46px;
    outline: none;
    background: #7c7c7c2b;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

button:hover {
    background: #7c7c7c6b;
}

input.search-bar {
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: rgb(132 128 128 / 20%);
    color: white;
    font-family: inherit;
    font-size: 105%;
    width: calc(100% - 100px);  /*para que la lupa no se me deforme*/  
}

h1.temp {
    margin: 0;
    margin-bottom: 0.4em;
}

.flex {
    display: flex;
    align-items: center;
}

.description {
    text-transform: capitalize;
    margin-left: 0;
}

.weather.loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;
}

.weather.loading::after {
    visibility: visible;
    content: "Cargando...";
    color: white;
    position: absolute;
    top:0;
    left: 20px;
}

h6 {
    color: white;
    font-size: 14px;
    text-align: center;
}